Repository gregorias/toggle.nvim: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, yaml-prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    tests:
      run: just test
    markdownlint:
      tags: documentation style
      glob: "*.md"
      run: markdownlint {staged_files}
    stylua:
      tags: style
      run: stylua --check lua --color always
    yaml-prettier:
      tags: style
      glob: "*.{yml,yaml}"
      run: prettier -c {staged_files}
commit-msg:
  commands:
    commitlint:
      run: commitlint --edit={1}

docs: document adding an option
  README.md
Due: markdownlint

docs: use 1.0
  README.md
Due: markdownlint

feat(wk): update to WKv3
  lua/toggle/keymap.lua
Due: none

chore: release 1.0.1
  README.md
Due: markdownlint

chore: update Selene
  neovim.yml
Due: yaml-prettier

docs: fix typo
  lua/toggle/option.lua
Due: none

docs: update annotations
  lua/toggle/option.lua
Due: none

feat(wk): add icons and dynamic descriptions
  DEV.md
  lua/toggle.lua
  lua/toggle/default-options.lua
  lua/toggle/keymap.lua
  lua/toggle/option.lua
  tests/toggle/option_spec.lua
  tests/toggle/toggle_spec.lua
Due: markdownlint

chore: suggest v2.0
  README.md
Due: markdownlint

docs: add WK integration image
  README.md
  assets/toggle-which-key.png
  assets/toggle-which-key.webp
Due: markdownlint

docs: advertise Coop
  README.md
Due: markdownlint

chore: pause plugin
  DEV.md
Due: markdownlint
