Repository gregorias/toggle.nvim: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, yaml-prettier

markdownlint:
  tags: documentation style
  run: markdownlint {staged_files}

yaml-prettier:
  tags: style
  run: prettier -c {staged_files}

chore: update lint-test
  .github/workflows/lint-test.yml
Due: yaml-prettier

docs: update README
  README.md
  assets/toggle-switch.png
  assets/toggle-switch.svg
Due: markdownlint

docs: change license to GPL
  LICENSE
Due: none

chore: delete unused workflows
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: yaml-prettier

chore: configure IDE
  neovim.yml
  selene.toml
Due: yaml-prettier

feat: implement various options
  .luacheckrc
  .luarc.json
  README.md
  lua/toggle.lua
  lua/toggle/option.lua
  tests/toggle/option_spec.lua
Due: markdownlint

feat: add default options
  README.md
  lua/toggle.lua
Due: markdownlint

feat(nv): add diff all option
  README.md
  lua/toggle.lua
  lua/toggle/option.lua
Due: markdownlint

docs: fix Lazy link
  README.md
Due: markdownlint

feat: support buffer-local options
  lua/toggle.lua
Due: none

refactor: move option implementations to default-options.lua
  lua/toggle.lua
  lua/toggle/default-options.lua
Due: none

feat: add keymap registry
  README.md
  lua/toggle.lua
  lua/toggle/keymap.lua
Due: markdownlint

test: add buffer-local option test
  tests/helpers.lua
  tests/toggle/toggle_spec.lua
Due: none

docs: add Unimpaired comparison
  README.md
Due: markdownlint

feat: add keymap configurability
  README.md
  lua/toggle.lua
  tests/toggle/toggle_spec.lua
Due: markdownlint

fix: fix typo
  lua/toggle.lua
Due: none

docs: fix nvim-notify link
  README.md
Due: markdownlint

chore: use Busted/Lazy test fixture
  .gitignore
  Justfile
  tests/busted.lua
  tests/minimal_init.lua
Due: none

feat: add status dashboard
  README.md
  lua/toggle.lua
  lua/toggle/dashboard.lua
Due: markdownlint

feat: add buffer-local variables
  lua/toggle/buffer.lua
  neovim.yml
  tests/toggle/buffer_spec.lua
Due: yaml-prettier

feat: add option registry
  lua/toggle.lua
  lua/toggle/option-registry.lua
  tests/toggle/option-registry_spec.lua
  tests/toggle/toggle_spec.lua
Due: none

fix(dashboard): update pairs arg
  lua/toggle.lua
  lua/toggle/dashboard.lua
  tests/toggle/dashboard_spec.lua
Due: none

chore: use busted and luassert with LuaLS
  .luarc.json
Due: none

feat(dashboard): add formatting
  lua/toggle/dashboard.lua
  tests/toggle/dashboard_spec.lua
Due: none

fix(diff all): make option states large cap
  lua/toggle/default-options.lua
Due: none

fix(diff): use diffthis and diffoff
  lua/toggle/default-options.lua
Due: none

fix(diff): only use normal windows for diff
  lua/toggle/default-options.lua
Due: none

feat: unify option state show
  lua/toggle/dashboard.lua
  lua/toggle/option.lua
  tests/toggle/option_spec.lua
Due: none

refactor(option): make class hierarchy generic
  lua/toggle.lua
  lua/toggle/dashboard.lua
  lua/toggle/option.lua
  lua/toggle/table-extra.lua
  tests/toggle/option_spec.lua
Due: none

refactor(option): add enum option
  lua/toggle/default-options.lua
  lua/toggle/option.lua
  tests/toggle/option_spec.lua
Due: none

refactor(option): use enum option for on off option
  lua/toggle/option.lua
Due: none

feat(ui): add value select menu
  lua/toggle.lua
  lua/toggle/dashboard.lua
  lua/toggle/default-options.lua
  lua/toggle/option.lua
Due: none

feat: add new options
  README.md
  lua/toggle.lua
  lua/toggle/default-options.lua
Due: markdownlint

docs: advertise Coerce
  README.md
Due: markdownlint

docs: update README preamble
  README.md
Due: markdownlint

fix(ui): quit if nothing is selected
  lua/toggle/dashboard.lua
Due: none

docs: include session GIF
  README.md
  assets/toggle-session.gif
Due: markdownlint

docs: correct setup config index
  README.md
Due: markdownlint

docs: document plugin usage
  README.md
Due: markdownlint

feat: allow configuration default notifications
  README.md
  lua/toggle.lua
Due: markdownlint

Path conditions:
  markdownlint: any of: *.md
  yaml-prettier: any of: *.{yml,yaml}
